/**** TABLE OF CONTENTS ****

0. VARIABLES
1. PRELOADER STYLES

2. HEADER STYLES
  2a. Header Option One Styles
  2b. Header Option Two Styles
  2c. Mobile Off-Canvas Menu Styles
  2d. Social Media Styles
  2e. Sticky Header Styles

6. FOOTER STYLES

** END TABLE OF CONTENTS **/

/**** 0. VARIABLES ****/
@import "templates/bs-variables";


/**** 1. PRELOADER STYLES ****/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #FFF;
}
#preloader img {
  padding: 25px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-bar #preloader img {
  margin-top: 16px;
}
@media only screen and (max-width: 782px) {
  .admin-bar #preloader img {
    margin-top: 23px;
  }
}
@media only screen and (max-width: 630px) {
  #preloader img {
    padding: 40px;
  }
}


/**** 1. GENERAL STYLES ****/
* {
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  hyphens: none !important;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"],
textarea,
select,
button {
  -webkit-appearance: none !important;
  -moz-apperance: none !important;
}
a[href^=tel] {
  text-decoration: none;
  -webkit-appearance: none !important;
  -moz-apperance: none !important;
}
a {
  font-family: $fontstack;
}
p, li, span {
  font-family: $fontstack;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $fontstack;
  font-weight: 700;
  line-height: 1.1;
  text-align: left;
}
h2, h2 span {
  font-size: $h2;
}
h3, h3 span {
  font-size: $h3;
}
h4, h4 span {
  font-size: $h4;
}
h5, h5 span {
  font-size: $h5;
}
h6, h6 span {
  font-size: $h6;
}
span.sub-title {
  display: block;
  font-size: 65%;
  margin: 10px 0;
}
.vcard abbr {
  border: 0 !important;
  cursor: text !important;
}
.vcard .type {
  display: none;
}
.off-canvas-content #masthead {
  margin: 0 auto;
  padding: 0 15px;
}
.off-canvas-content #footer-container {
  max-width: none;
  margin: 0 auto;
  padding: 0;
}
.subtle-image-border img,
img.subtle-image-border {
  border: 1px solid $ltgray !important;
}
.hide-for-now {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  speak: none;
  left: -9999px;
}
.the-tags {
  display: inline-block;
  width: 100%;
  margin: 40px 0;
  text-align: left;

  a {
    display: inline-block;
    margin-bottom: 5px;
  }
}
.keep-together {
  display: inline-block !important;
}
body.modal-active {
  overflow: hidden;
}
.bs-btn {
  font-size: 1.3125rem;
  font-weight: 700 !important;
  line-height: 1 !important;
  display: inline-block;
  padding: 1rem 1.625rem;
  border: 2px solid $black;
  background: $white;
  text-transform: uppercase;
  @include transition(all);
}
.bs-btn.bs-btn-white {
  background: $white;
  border: 2px solid $white;
}
.bs-btn.bs-btn-white:hover,
.bs-btn.bs-btn-white:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-red {
  background: $red;
  border: 2px solid $red;
  color: $white !important;
}
.bs-btn.bs-btn-red:hover,
.bs-btn.bs-btn-red:focus {
  background: $black;
  border: 2px solid $black;
  color: $white !important;
}
.bs-btn.bs-btn-green {
  background: $green;
  border: 2px solid $green;
  color: $white !important;
}
.bs-btn.bs-btn-green:hover,
.bs-btn.bs-btn-green:focus {
  background: $black;
  border: 2px solid $black;
  color: $white !important;
}
.bs-btn.bs-btn-darkgreen {
  background: $darkgreen;
  border: 2px solid $darkgreen;
  color: $white !important;
}
.bs-btn.bs-btn-darkgreen:hover,
.bs-btn.bs-btn-darkgreen:focus {
  background: $black;
  border: 2px solid $black;
  color: $white !important;
}
.bs-btn.bs-btn-clear {
  background: none !important;
  border: 2px solid $white !important;
  color: $black !important;
}
.bs-btn.bs-btn-clear:hover,
.bs-btn.bs-btn-clear:focus {
  background: $black !important;
  border: 2px solid $black !important;
  color: $white !important;
}
.bs-btn.bs-btn-black {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-black:hover,
.bs-btn.bs-btn-black:focus {
  background: $white;
  border: 2px solid $black;
  color: $black;
}
.bs-btn:hover,
.bs-btn:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btns-wrapper {
  text-align: left;
  width: 100%;

  .bs-btn {
    display: inline-block;
    margin: 0 10px 10px 0 ;
  }

}
.bs-isotope-wrapper {
  max-width: 75rem;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.bs-isotope-item {

  img.lazyload,
  img.lazyloading {
    opacity: 0;
    min-height: 100px;
    @include transition(opacity);
  }
  img.lazyloaded {
    opacity: 1;
    @include transition(opacity);
  }

}
.max-width-nine-seventy {
  max-width: 60.625rem;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-eight-hundred {
  max-width: 50rem;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-eleven-seventy {
  max-width: 73.125rem;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-twelve-hundred {
  max-width: 75rem;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-sixteen-hundred {
  max-width: 100rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.entry-content {
  overflow: hidden;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 1rem;
  }
  ul.row {
    margin-left: 1.25rem;
  }
  ul.row li.columns {
    padding-left: 0;
  }
  ul.row .column:last-child:not(:first-child),
  ul.row .columns:last-child:not(:first-child),
  ol.row .column:last-child:not(:first-child),
  ol.row .columns:last-child:not(:first-child) {
    float: left;
  }
  p + ul, p + ol {
    margin-top: -.9375rem;
  }

}
.section-title {
  margin-top: -55px;

  img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .wpb_single_image {
    margin: 0 0 -125px 0;
    position: relative;
    z-index: 99
  }
  .vc_column-inner {
    padding: 0 !important;
  }
}
ul.social-media-wrapper.left {
  text-align: left;
}
ul.social-media-wrapper.right {
  text-align: right;
}
ul.social-media-wrapper.center {
  text-align: center;
}
ul.social-media-wrapper.brown li a {
  color: #38322f;
}
ul.social-media-wrapper.white li a {
  color: $white;
}
ul.social-media-wrapper li a {
  line-height: 38px !important;
}
.readable-line-length {
  max-width: 800px;
  margin: 0 auto;
}
.text-align-center, .text-align-center * {
  text-align: center;
}
.readable-line-length.text-align-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}
.cta-text.has-background-image {
  background: rgba(27,27,27,.65);
  padding: 20px;
}
.cta-text.has-background-image p {
  font-size: 1.5rem;
  color: $white;
}
.cta-text p {
  font-size: 1.5rem;
  color: $black;
}
.cta-text * {
  $blackily: 'museo-sans';
  line-height: 1.4;
}
#back-top {
  position: fixed;
  bottom: 3.75rem;
  right: 0.9375rem;
  z-index: 100;
}
#back-top a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $black;
  color: $white;
  display: inline-block;
  opacity: .75;
  @include transition(all);
}
#back-top a:hover,
#back-top a:focus {
  opacity: 1;
  background: $black;
}
.fourohfour-recent-posts ul {
  margin: 0;
  list-style: none;
}
.fourohfour-recent-posts ul li {
  line-height: 1.2;
  margin-bottom: 1rem;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@media #{$break600} {
  .bs-btns-wrapper .bs-btn {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}


/**** 2. HEADER STYLES ****/
/* 2a. Header Option One Styles */
header#masthead.header-option-one {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  padding: 1.25rem 0 .5rem !important;
  background-size: cover;
  transition: all 500ms ease-out;
  @media only screen and (min-width: 64.0625em) {
    padding: 0 0 .5rem !important;
  }

  #header-inner {
    display: table;
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    @media #{$break639} {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .logo-wrapper {
    padding-left: 0 !important;
    width: 340px;
    display: table-cell !important;
    vertical-align: bottom;
  }
  .logo-wrapper img {
    max-width: 340px;
    width: 100%;
    height: auto;
    padding: 0 0 0.875rem 0;
  }
  .main-navigation {
    width: calc(100% - 340px);
    display: table-cell !important;
    vertical-align: bottom;
  }
  .top-bar {
    // display: table;
    // width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    background: none;
    padding-top: 20px !important;
    @media #{$break639} {
      padding-top: 0 !important;
    }

    ul {
      background: none;
    }

    .top-bar-right {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100% !important;
      justify-content: flex-end;
      align-items: flex-end;

      .top-bar-social {
        margin-top: -5px;
        margin-bottom: 0;
        order: 1;
        width: auto;
      }
      & > .menu.alt-menu {
        order: 2;
        @media only screen and (max-width: 39.9375rem) {
          display: none;
        }
        @media only screen and (max-width: 1024px) {
          text-align: center;
        }
      }
      & > .menu.alt-menu > li > a {
        height: auto;
        padding: 0 0.75rem !important;
        font-size: 0.875rem;
        font-weight: 500;
        font-family: $fontstack;
        letter-spacing: 0;
        line-height: 1;
        text-transform: uppercase;
        border-right: 1px solid $gray;
      }
      & > .menu.alt-menu > li:last-child > a {
        padding: 0 0 0 0.75rem !important;
        border-right: 0;
      }
      & > .menu.alt-menu > li:first-child > a {
        padding: 0 0.75rem 0 0 !important;
      }
      & > .dropdown.menu.desktop-menu {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;;
        padding: 0 0 0 1.875rem;
        margin-bottom: -.5rem;
      }
      & > .dropdown.menu.desktop-menu > li > a {
        white-space: nowrap;
        @media only screen and (max-width: 1055px) and (min-width: 1025px){
          letter-spacing: -.03em;
        }
        @media only screen and (max-width: 767px) {
          letter-spacing: -.03em;
          font-size: 1.1875rem !important;
        }
      }
      & > .menu {
        margin-top: 1rem;
        text-align: right;
      }
      .menu > li {
        float: none;
        display: inline-block;
      }
      .menu > li > a {
        height: 40px;
        padding: 0 !important;
        font-size: 1.3125rem;
        font-weight: 500;
        font-family: $fontstack;
        letter-spacing: 1px;
        line-height: 1;
        text-transform: uppercase;
        box-sizing: content-box !important;
      }
      .menu > li.menu-item-has-children > a {
        position: relative;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .menu > li.menu-item-has-children > a:before {
        //content: '\f0d7';
        display: none;
        font-family: fontawesome;
        position: absolute;
        top: 0;
        right: -3px;
        text-align: left;
        display: block;
        width: 20px;
        height: 36px;
        line-height: 36px;
        color: $black;
        font-size: 14px;
      }
      .menu > li:not(:last-child) {
        border-right: 0;
      }
      .menu a:hover:not(.button) {
        background: none;
      }
      .menu .active > a {
        background: none;
        color: $white;
      }
      .menu > li {
        position: relative;
      }
      .menu .dropdown {
        min-width: 200px;
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-top: 20px;
        padding: 13px 0 12px;
        z-index: -1;
        text-align: left;
        background: $greenalpha !important;
        border-top: 0 !important;
        border: 1px dashed #7f7d76 !important;
        @include transition(all);
      }
      .menu .dropdown li a {
        height: auto;
        line-height: 1;
        font-size: 0.9375rem;
        font-weight: 400;
        padding: 12px 20px 13px !important;
        display: block;
        position: relative;
        @include transition(all);
      }
      .menu .dropdown li {
        -webkit-transition: background 250ms ease-out;
      }
      .menu .dropdown li a:hover:after {
        content: '';
      }
      .menu .dropdown li:after {
        display: none;
      }
      .menu > li.is-active .dropdown {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
        z-index: 1;
      }
      .menu > li.opens-left > .is-dropdown-submenu {
        left: 0;
        top: 100%;
      }
      .menu > li.opens-left:last-child > .is-dropdown-submenu {
        left: auto;
        right: 0;
        margin-right: 0;
      }
      .menu > li.is-dropdown-submenu-parent > a::after {
        display: none;
      }
    }
  }
  .above-menu-search-wrapper,
  .inline-social-search-wrapper {
    height: 36px;
    position: relative;

    form#searchform {
      position: absolute;
      right: 0;
      position: relative;
      max-width: 200px;
      width: 100%;
      text-align: right;
      border: 1px dashed #9e9c93;
      border-radius: 3px;
      background: $white;
      margin: 0;
      @media only screen and (max-width: 1024px) {
        margin: 0 auto;
      }

      &:after {
        position: absolute;
        content: '\f002';
        font-family: fontawesome !important;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        top: 0;
        right: 0;
      }
      input#searchsubmit {
        text-indent: -9999px;
        margin: 0;
        width: 34px;
        height: 34px;
        background: none;
      }
      input#s {
        max-width: none;
        border: 0;
        box-shadow: none;
        padding: 0 10px !important;
        line-height: 34px;
        height: 34px;
        background: none;
      }
      .input-group {
        margin: 0;
      }
    }
  }
  .inline-social-search-wrapper {
    height: 36px;
    position: relative;

    form#searchform {
      margin: 0;
    }
  }
  nav.top-bar.has-search {

    ul.desktop-menu {
      width: calc(100% - 36px);
      float: left;
      text-align: right;
    }
    .top-bar-right {
      float: right;
      width: 100%;
    }
    .menu-search-wrapper {
      width: 36px;
      height: 36px;
      float: right;
      position: relative;
    }
    .menu-search-wrapper button {
      width: 36px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      font-size: 1.25rem;
    }
    .menu-search-wrapper form#searchform {
      position: absolute;
      display: block;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      top: 100%;
      right: 0;
      width: 300px;
      padding: 14px;
      margin: 40px 0 0 0;
      border: 0;
      background: $ltgray;
      @include transition(all);
    }
    .menu-search-wrapper form#searchform.show {
      opacity: 1;
      visibility: visible;
      margin: 10px 0 0 0;
    }
    .menu-search-wrapper form#searchform:after,
    .menu-search-wrapper form#searchform:before {
      bottom: 100%;
      right: 7px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .menu-search-wrapper form#searchform:before {
      right: 4px;
    }
    .menu-search-wrapper form#searchform:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $white;
      border-width: 10px;
      margin-left: -10px;
    }
    .menu-search-wrapper form#searchform:before {
      border-color: rgba(54, 97, 175, 0);
      border-bottom-color: $green;
      border-width: 13px;
      margin-left: -13px;
    }
    .menu-search-wrapper input#searchsubmit {
      width: 100%;
    }
    .menu-search-wrapper .input-group {
      margin: 0;
    }
    input#s {
      padding: 0 5px;
      line-height: 2.125rem;
      height: auto;
      box-shadow: none;
      border: 1px solid $ltgray;
    }
    input#s::-webkit-input-placeholder,
    input#s::-moz-placeholder,
    input#s:-moz-placeholder,
    input#s:-ms-input-placeholder {
      font-size: .875rem !important;
      font-family: $fontstack !important;
    }
    input#searchsubmit {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.25rem;
      padding: 0 10px;
      line-height: 2.25rem;
      border: 0;
      background: $green;
      font-family: $fontstack !important;
    }
  }
}

@media #{$break1024} {
  header#masthead.header-option-one {
    display: block;

    .logo-wrapper {
      width: 100%;
      display: block !important;
    }
    .logo-wrapper img {
      display: block;
      margin: 0 auto;
    }
    .main-navigation {
      width: 100%;
      display: block !important;
    }
    .top-bar .top-bar-right {
      display: block;
    }
    .top-bar .top-bar-right .top-bar-social {
      order: 1;
      width: 100%;
    }
    .top-bar .top-bar-right .top-bar-social ul.social-media-wrapper {
      text-align: center;
      margin-bottom: 1rem;
    }
    .top-bar .top-bar-right > .dropdown.menu.desktop-menu {
      width: 100%;
      max-width: 50rem;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media #{$break972} {
  header#masthead.header-option-one {

    .top-bar .top-bar-right {
      width: 100% !important;

      ul.dropdown.menu.desktop-menu {
        text-align: center;
      }
      ul.social-media-wrapper {
        text-align: center;
        margin: 0;
      }
    }
  }
}
@media only screen and (max-width: 43.125em) and (min-width: 40em) {
  header#masthead.header-option-one {

    .top-bar .top-bar-right .menu > li > a {
      font-size: 1.15em;
      padding: 0 8px !important;
    }
  }
}
@media #{$break639} {
  header#masthead.header-option-one {
    padding: 0 !important;

    .logo-wrapper.hide-for-small-only {
      display: none !important;
    }
    .top-bar {
      padding: 0 !important;
    }
    .top-bar-social {
      display: none;
    }
    .menu-search-wrapper {
      display: none;
    }
    .top-bar .top-bar-right .menu > li > a {
      font: 700 1rem/36px $fontstack;
    }
    .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
      font-size: 1rem;
      text-align: center;
    }
    .top-bar .top-bar-right .menu > li.menu-item-has-children ul li a {
      font-size: 1rem;
    }
  }
}

/* 2b. Header Option Two Styles */
header#masthead.header-option-two {
  padding: 1.25rem 0 0 !important;
  display: block;

  .logo-wrapper {
    position: relative;

    img {
      // background: rgba(255,255,255,.88);
      // padding: 2.25rem 2rem;
      padding: 0 0 2rem 0;
      position: relative;
      width: 100%;
      max-width: 620px;
    }
  }
  .top-bar.main-navigation {
    max-width: 100rem;
    width: 100% !important;
    display: block !important;
    margin: 0 auto;
    background: none;
    padding-top: 20px !important;

    .top-bar-right {

      .top-bar-social {
        margin-bottom: 0;
      }
      ul.social-media-wrapper {
        background: none;
      }

    }
    .top-bar-left-right-wrapper {
      width: 100%;
      max-width: 75rem;
      padding: 0 0.9375rem;
      margin: 0 auto;
      display: flex;
      top: 2rem;
      justify-content: center;

      .top-bar-left,
      .top-bar-right {
        width: 50% !important;
      }
    }
    .top-bar-bottom {
      background: $blue !important;
      border-bottom: 6px solid $green;

      ul {
        background-color: inherit;
      }
      .dropdown.menu.desktop-menu {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        background: none !important;
      }
      .menu {
        text-align: left;
      }
      .menu > li {
        float: none;
        display: inline-block;
      }
      .menu > li > a {
        height: 36px;
        padding: 1.5rem 0 .875rem !important;
        font-size: 1.625rem;
        font-weight: 700;
        font-family: $fontstack;
        line-height: 1;
        box-sizing: content-box !important;
      }
      .menu > li.menu-item-has-children > a {
        position: relative;
        // padding-left: 10px !important;
        // padding-right: 20px !important;
      }
      .menu > li.menu-item-has-children > a:before {
        //content: '\f0d7';
        display: none;
        font-family: fontawesome;
        position: absolute;
        top: 0;
        right: -3px;
        text-align: left;
        display: block;
        width: 20px;
        height: 36px;
        line-height: 36px;
        color: $white;
        font-size: 14px;
      }
      .menu > li:not(:last-child) {
        border-right: 0;
      }
      > .menu > li > a:hover:not(.button) {
        background: none;
      }
      > .menu > .active > a {

      }
      .menu .active > a {
        background: none;
        color: $white;
      }
      .menu > li {
        position: relative;
      }
      .menu > li:after {
        content: '';
        width: 0;
        height: 11px;
        display: block;
        position: absolute;
        bottom: 0;
        transition: width 250ms ease-out;
      }
      .menu > li:hover:after,
      .menu > li.active:after {
        width: 100%;
        transition: width 250ms ease-out;
        background: $green;
      }
      .menu .dropdown {
        min-width: 160px;
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-top: 20px;
        margin-right: -10px;
        z-index: -1;
        background: $green !important;
        @include transition(all);
      }
      .menu .dropdown li a {
        height: auto;
        line-height: 1;
        padding: 10px 0 !important;
        font-size: 1.015rem;
        font-weight: 700;
        padding: 10px !important;
        display: block;
        position: relative;
        @include transition(all);
      }
      .menu .dropdown li {
        -webkit-transition: background 250ms ease-out;
      }
      .menu .dropdown li:hover a,
      .menu .dropdown li:focus a {

      }
      .menu .dropdown li a:hover:after {
        content: '';
      }
      .menu .dropdown li:after {
        display: none;
      }
      .menu > li.is-active .dropdown {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
        z-index: 1;
      }
      .menu > li.opens-left > .is-dropdown-submenu {
        left: 10px;
        top: 100%;
      }
      .menu > li.is-dropdown-submenu-parent > a::after {
        display: none;
      }

    }
    .top-bar-bottom > ul.menu {
      width: 100%;
      max-width: 75rem;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width: 64em) {
  header#masthead.header-option-two {

    .logo-wrapper img {
      display: block;
      margin: 0;
    }
    .top-bar .top-bar-right .top-bar-social ul.social-media-wrapper {
      text-align: right;
    }
    .top-bar.main-navigation .top-bar-bottom .menu > li > a {
      font-size: 1.125rem;
      letter-spacing: -.04em;
    }
    .logo-wrapper img {
      padding: 1.25rem 1rem;
    }
  }
}
@media only screen and (max-width: 39.9375rem) {
  header#masthead.header-option-two {
    padding: 0 !important;

    .top-bar.main-navigation {
      display: block !important;
      padding-top: 0 !important;
    }
    .off-canvas.position-right {
      background: $white !important;
    }
    nav.off-canvas .custom-logo-link img {
      padding: 0 1rem;
      margin-top: -0.25rem;
      margin-bottom: .5rem;
      background: $white;
    }
  }
}

/* 2c. Mobile Off-Canvas Menu Styles */
.menu-icon::after {
  background: $green;
  box-shadow: 0 7px 0 $green, 0 14px 0 $green;
  @include transition(background);
}
.menu-icon:hover::after {
  background: $green;
  box-shadow: 0 7px 0 $green, 0 14px 0 $green;
}
.admin-bar nav.off-canvas {
  height: calc(100vh - 46px);
}
nav.off-canvas {
  height: 100vh;

  .custom-logo-link img {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }
  & > ul.menu {
    height: auto;
  }
  ul.alt-menu {
    padding: 0;
    display: inline-block;
  }
  ul.alt-menu li {
    display: block;
  }
  .vertical.menu {
    padding: 0;
  }
  > .menu > li > a {
    padding: 10px;
  }
  > .menu .active > a {
    background: $green;
  }
  > .menu > li > a:after {
    border-top-color: $green;
  }
  > .menu .active > a:after {
    border-top-color: $white !important;
  }
  .is-accordion-submenu-parent > a::after {
    right: 10px;
  }
  .nested.submenu {
    margin: 0 !important;
  }
  .submenu > li > a {
    padding: 10px 10px 10px 20px;
  }
  ul.social-media-wrapper {
    margin: 10px 0;
    padding: 0 0px;
    text-align: center;
  }
  ul.social-media-wrapper li {
    margin: 0 0 1rem 0;
  }
  form#searchform {
    padding: 0rem;
    width: calc(100% - 1.125rem);
    border: 1px dashed #9e9c93;
    border-radius: 3px;
    background: $white;
    margin: 1rem auto 0 !important;
    border-radius: 3px;
    position: relative;
  }
  form#searchform:after {
    position: absolute;
    content: '\f002';
    font-family: fontawesome !important;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top: 0;
    right: 0;
  }
  form#searchform .input-group {
    margin-bottom: 0 !important;
  }
  input#s {
    padding: 0 10px !important;
    line-height: 2.125rem;
    height: 2.125rem;
    box-shadow: none;
    border: 0;
    background: none !important;
  }
  input#searchsubmit {
    text-indent: -9999px;
    margin: 0;
    width: 34px;
    height: 34px;
    background: none;
  }
}

/* 2d. Social Media Styles */
ul.social-media-wrapper {
  list-style: none;
  text-align: right;
  margin: 0 5px 0 0;

  li {
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 38px;
    margin-right: 0;
    text-align: center;
    position: relative;
    z-index: 99;
    font-size: 1.5rem;
  }
  li.inline-social-search-wrapper {
    font-size: 1.25rem;
  }
  li:not(.custom-button):after {
    width: 38px;
    height: 38px;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 100%;
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease-out;
  }
  li.inline-social-search-wrapper {
    width: auto;
  }
  li.custom-button {
    width: auto;
  }
  li:after {
    background: $white;
  }
  li:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  li a {
    display: block;
  }
  li.custom-button a {
    padding: 0 10px;
    @include transition(background);
  }
}

/* 2e. Sticky Header Styles */
@media only screen and (min-width: 39.9375rem) {
  body.sticky-prep #masthead.sticky-header .top-bar-bottom {
    position: fixed;
    width: 100%;
    top: -100px;
    transition: top .5s ease-out;
  }
  body.admin-bar.sticky-prep #masthead.sticky-header .top-bar-bottom {
    top: -132px;
    transition: top .5s ease-out;
  }
  body.sticky-header.sticky-prep #masthead.sticky-header .top-bar-bottom {
    top: 0;
  }
  body.admin-bar.sticky-header.sticky-prep #masthead.sticky-header .top-bar-bottom {
    top: 32px;
  }
}

/**** 6. FOOTER STYLES ****/
#footer-container #footer {
  max-width: 75rem;
  padding: 2.1875rem 0 2rem;

  .gform_wrapper {
    margin: 0 !important;
  }
  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 2rem;
    position: relative;
  }
  .gform_wrapper label.gfield_label {
    line-height: 1.2 !important;
    position: absolute;
    margin: 0 !important;
    left: .5rem;
    top: .25rem;
    text-transform: capitalize;
    font-family: $fontstack;
    font-weight: 400;
    color: $gray;
    @include transition(all);
  }
  .gform_wrapper li#field_2_2 label.gfield_label {
    top: 0;
  }
  .gform_wrapper label.gfield_label span.gfield_required {
    color: $red !important;
    font-weight: 700;
  }
  .gform_wrapper label[data-attr="active"].gfield_label,
  .gform_wrapper label[data-attr="active"].gfield_label span.gfield_required,
  .gform_wrapper li[data-attr="active"]#field_2_2 label.gfield_label {
    top: .15rem !important;
    font-size: 75% !important;
    //opacity: .65;
  }
  .gform_wrapper input.large {
    border: 0;
    box-shadow: none;
    border-radius: 6px;
    min-height: 42px;
    padding: 12px 8px 2px;
  }
  .gform_wrapper .gform_footer {
    margin: 0 !important;
    padding: 0 !important;
  }
  .gform_wrapper .gform_footer input.button,
  .gform_wrapper .gform_footer input[type=submit] {
    border-radius: 6px;
    padding: 0.625rem 0.9375rem 0.6875rem;
    background: $green;
    font-family: $fontstack;
    font-weight: 700;
    line-height: 1 !important;
    min-height: 42px;
    @include transition(all);
  }
  .gform_wrapper .gform_footer input.button:hover,
  .gform_wrapper .gform_footer input[type=submit]:hover,
  .gform_wrapper .gform_footer input.button:focus,
  .gform_wrapper .gform_footer input[type=submit]:focus {
    background: $white;
    color: $darkgreen;
  }
  .gform_wrapper div.validation_error {
    color: $white !important;
    padding: .5rem 0 !important;
    border-top-color: $white !important;
    border-bottom-color: $white !important;
  }
  .gform_wrapper.gform_validation_error li#field_2_2 label.gfield_label {
    top: .5rem;
  }
  .gform_wrapper.gform_validation_error li#field_2_2 label[data-attr="active"] {
    top: .65rem !important;
  }
  .gform_wrapper .validation_message {
    color: $white;
    padding-top: 0 !important;
  }
  a {
    @include transition(color);
  }
  .large-3:first-of-type {
    width: 39.28%;
    padding-right: 2.5rem;
  }
  .large-3:nth-of-type(2) {
    width: 19.92%;
  }
  .large-3:nth-of-type(3) {
    width: 21.19%;
  }
  .large-3:nth-of-type(4) {
    width: 19.61%;
  }
  h6 {
    font-size: 1.5rem !important;
    margin-bottom: .5rem !important;
    text-align: left;
  }
  .large-3:first-of-type h6:after {
    content: '';
    position: absolute;
    width: 107px;
    height: 19px;
    margin-left: 6px;
    display: inline-block;
  }
  ul.menu li {
    display: block;
    padding: 0;
  }
  ul.menu li a {
    padding: 0;
    display: block;
    line-height: 1.6;
    text-transform: capitalize;
    @include transition(color);
  }
  ul.menu li a:hover,
  ul.menu li a:focus {

  }
  ul.menu li.active a {
    background: none;
  }
  p, li, a, span {
    line-height: 1.6;
  }
  ul.social-media-wrapper {
    margin-left: -.5rem;
    text-align: left;
  }
  ul.social-media-wrapper li a {
    color: $green !important;
  }
  ul.social-media-wrapper li a:hover,
  ul.social-media-wrapper li a:focus {
    color: $black !important;
  }
  .vcard abbr {
    border: 0 !important;
    cursor: text !important;
  }
  .vcard .type {
    display: none;
  }
  .vcard .tel {
    font-size: 1.375rem;
    font-weight: 700;
  }
  .footer-logo {
    width: 100%;
    max-width: 115px;
  }
}
@media #{$break1024} {
  #footer-container #footer {
    margin-bottom: -1px;

    .large-3 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .large-3:first-of-type {
      width: 100%;
      padding-right: 0.9375rem;
      margin-bottom: 3rem;
    }
    .large-3:nth-of-type(2),
    .large-3:nth-of-type(3),
    .large-3:nth-of-type(4) {
      width: 33.3333%;
    }

  }
}
@media #{$break639} {
  #footer-container #footer {

    .large-3:first-of-type {
      width: 100%;
      margin-bottom: 3rem;
    }
    .large-3:nth-of-type(2),
    .large-3:nth-of-type(3) {
      width: 50%;
      margin-bottom: 3rem;
    }
    .large-3:nth-of-type(4) {
      width: 100%;
      margin-bottom: 0;
    }
    .gform_wrapper ul.gform_fields li.gfield {
      padding-right: 1rem;
    }

  }
}
@media #{$break480} {
  #footer-container #footer {
    .large-3:nth-of-type(2),
    .large-3:nth-of-type(3) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
}

#copyright {
  max-width: 75rem;

  p {
    font-weight: 300 !important;
    text-align: left;
    font-family: $fontstack !important;
    margin: 0;
  }
  a {
    font-weight: 700;
    text-decoration: underline;
    @include transition(color);
  }
  a:hover,
  a:focus {

  }

}
#copyright.has-social {
  display: flex;
  width: 100%;
  justify-content: center;
  @media only screen and (max-width: 47.9375em) {
    flex-direction: column;
  }

  .small-12.large-9,
  .small-12.large-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .small-12.large-9 {
    @media only screen and (max-width: 47.9375em) {
      margin-bottom: 1rem;
    }
  }
  p, ul.social-media-wrapper {
    @media only screen and (max-width: 47.9375em) {
      text-align: center;
    }
  }
}


/**** 7. MOBILE & KEYBOARD INPUT STYLES ****/
.mobile {

  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  ul.filter-portfolio-category li span.term-num,
  ul.filter-portfolio-category li a.active+span.term-num,
  ul.filter-portfolio-category li:hover span.term-num,
  ul.filter-portfolio-category li a:before,
  ul.filter-portfolio-category li a:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

}

body[data-whatinput="keyboard"] {

  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }

}

 .no-js {
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }
 }


/**** 8. IE ONLY STYLES ****/
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {
    background-attachment: scroll !important;
  }
}

/* Edge only */
@supports (-ms-accelerator: true) {
  * {
    background-attachment: scroll !important;
  }
}


/**** 9. FIREFOX ONLY CSS ****/
@-moz-document url-prefix() {

}

/**** 00. No JavaScript Styles ****/
.no-js {

  img.lazyload {
    display: none;
  }
  .bs-isotope-item {
    float: left;
  }
  .bs-isotope-item:nth-child(3n+1) {
    clear: left;
  }
  p, a, li, span, h1, h2, h3, h4, h5, h6, blockquote {
    font-family: Arial, Helvetica, sans-serif !important;
  }

}
