$ptsans: 'pt-sans', Helvetica, Arial, sans-serif;
$teal: #49b1b6;
$dkteal: #20575f;
$tealalpha: rgba(56,207,201,.8);
$yellow: #edbb31;
$orange: #f7871f;
$pink: #cc2f7e;
$purple: #5b3483;
$blue: #3661af;
$white: #FFFFFF;
$black: #272e31;
$gray: #8bb6c2;
$ltgray: #f6f6f6;
$dkgray: #353535;

$break1600: "only screen and (max-width: 100em)";
$break1200: "only screen and (max-width: 75em)";
$break1024: "only screen and (max-width: 64em)";
$break1024to640: "only screen and (max-width: 64em) and (min-width: 40em)";
$break972: "only screen and (max-width: 60.75em)";
$break951: "only screen and (max-width: 59.4375em)";
$break951to601: "only screen and (max-width: 59.4375em) and (min-width: 37.5625em)";
$break800: "only screen and (max-width: 50em)";
$break767: "only screen and (max-width: 47.9375em)";
$break640: "only screen and (max-width: 40em)";
$break639: "only screen and (max-width: 39.9375em)";
$break600: "only screen and (max-width: 37.5em)";
$break480: "only screen and (max-width: 30em)";
$break375: "only screen and (max-width: 23.4375em)";

@mixin transition($attr) {
  -webkit-transition: $attr .2s ease-out;
     -moz-transition: $attr .2s ease-out;
      -ms-transition: $attr .2s ease-out;
          transition: $attr .2s ease-out;
}

/**** TABLE OF CONTENTS ****

0. PRELOADER STYLES

1. GENERAL STYLES

2. HEADER STYLES
  2a. Top Bar and Main Nav Styles
  2b. Social Media Styles
  2c. Shrink Logo Styles

3. HOME PAGE STYLES

4. INTERNAL PAGE STYLES
  4a. Title Bar Styles
  4b. Gravity Forms Styles
  4c. Social Sharing Styles

5. PORTFOLIO STYLES

6. FOOTER STYLES

7. MOBILE STYLES (when WP detects a mobile device a class of 'mobile' is added to the body tag and we use this to style accordingly)

8. IE ONLY STYLES

00. No JavaScript Styles

** END TABLE OF CONTENTS **/


/**** 0. PRELOADER STYLES ****/
#preloader img {
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin-bar #preloader img {
  margin-top: 16px;
}
@media only screen and (max-width: 782px) {
  .admin-bar #preloader img {
    margin-top: 23px;
  }
}
@media only screen and (max-width: 630px) {
  #preloader img {
    padding: 40px;
  }
}


/**** 1. GENERAL STYLES ****/
a {
  color: $black;
  font-weight: 700;
  font-family: $ptsans;
}
a:hover, a:focus {
  color: $black;
}
p {
  font-weight: 300;
  font-family: $ptsans;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $ptsans;
  text-transform: uppercase;
  font-weight: 700;
  color: $black;
  line-height: 1.1;
}
h2, h3 {
  color: $black;
}
h3, h4 {
  text-transform: capitalize;
}
h2 span.sub-title {
  display: block;
  font-size: 65%;
  margin: 10px 0;
}
h3.section-heading {
  font-size: 1.875rem !important;
  text-transform: uppercase;
  text-align: center;
}
span.section-heading-inner {
  position: relative;
  padding-bottom: 40px;
  display: inline-block;
  min-width: 107px;
}
span.section-heading-inner:after {
  content: '';
  width: 107px;
  height: 19px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: url(http://127.0.0.1/chalkitup/wp-content/uploads/2016/09/after-triangles-optim.png) no-repeat center center;
  background-size: 107px 19px;
}
.off-canvas-content #masthead {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 15px;
}
.off-canvas-content #footer-container {
  max-width: none;
  margin: 0 auto;
  padding: 0;
}
.subtle-image-border img,
img.subtle-image-border {
  border: 1px solid $ltgray !important;
}
.hide-for-now {
  display: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  speak: none;
  left: -9999px;
}
.the-tags {
  display: inline-block;
  width: 100%;
  margin: 40px 0;
  text-align: left;

  a {
    display: inline-block;
    margin-bottom: 5px;
  }

}
body.modal-active {
  overflow: hidden;
}
.bs-btn {
  font-size: 1.125rem;
  font-weight: 700 !important;
  line-height: 1;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid $black;
  background: $white;
  text-transform: uppercase;
  @include transition(all);
}
.bs-btn.bs-btn-white {
  background: $white;
  border: 2px solid $white;
}
.bs-btn.bs-btn-white:hover,
.bs-btn.bs-btn-white:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-clear {
  background: none !important;
  border: 2px solid $orange !important;
  color: $orange !important;
}
.bs-btn.bs-btn-clear:hover,
.bs-btn.bs-btn-clear:focus {
  background: $orange !important;
  border: 2px solid $orange !important;
  color: $white !important;
}
.bs-btn.bs-btn-black {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btn.bs-btn-black:hover,
.bs-btn.bs-btn-black:focus {
  background: $white;
  border: 2px solid $black;
  color: $black;
}
.bs-btn:hover,
.bs-btn:focus {
  background: $black;
  border: 2px solid $black;
  color: $white;
}
.bs-btns-wrapper {
  text-align: left;
  width: 100%;

  .bs-btn {
    display: inline-block;
    margin: 0 10px 10px 0 ;
  }

}
.bs-isotope-wrapper {
  max-width: 1600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}
.bs-isotope-item {

  img.lazyload,
  img.lazyloading {
    opacity: 0;
    min-height: 100px;
    @include transition(opacity);
  }
  img.lazyloaded {
    opacity: 1;
    @include transition(opacity);
  }

}
.max-width-eleven-seventy {
  max-width: 1170px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-sixteen-hundred {
  max-width: 1600px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.max-width-nine-seventy {
  max-width: 970px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.entry-content {
  overflow: hidden;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
  h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
    margin-top: 1rem;
  }
  ul.row {
    margin-left: 1.25rem;
  }
  ul.row li.columns {
    padding-left: 0;
  }
  ul.row .column:last-child:not(:first-child),
  ul.row .columns:last-child:not(:first-child),
  ol.row .column:last-child:not(:first-child),
  ol.row .columns:last-child:not(:first-child) {
    float: left;
  }

}
.section-title {
  margin-top: -55px;

  img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .wpb_single_image {
    margin: 0 0 -125px 0;
    position: relative;
    z-index: 99
  }
  .vc_column-inner {
    padding: 0 !important;
  }
}
ul.social-media-wrapper.left {
  text-align: left;
}
ul.social-media-wrapper.right {
  text-align: right;
}
ul.social-media-wrapper.center {
  text-align: center;
}
ul.social-media-wrapper.brown li a {
  color: #38322f;
}
ul.social-media-wrapper.white li a {
  color: $white;
}
ul.social-media-wrapper li a {
  line-height: 30px !important;
}
.readable-line-length {
  max-width: 800px;
  margin: 0 auto;
}
.text-align-center, .text-align-center * {
  text-align: center;
}
.readable-line-length.text-align-center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}
.cta-text.has-background-image {
  background: rgba(27,27,27,.65);
  padding: 20px;
}
.cta-text.has-background-image p {
  font-size: 1.5rem;
  color: $white;
}
.cta-text p {
  font-size: 1.5rem;
  color: $black;
}
.cta-text * {
  $blackily: 'museo-sans';
  line-height: 1.4;
}
#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
}
#back-top a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $black;
  color: $white;
  display: inline-block;
  opacity: .75;
  @include transition(all);
}
#back-top a:hover,
#back-top a:focus {
  opacity: 1;
  background: $black;
}
#back-top a:before {
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  border: 2px solid #FFF;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  @include transition(all);
}
#back-top a:hover:before,
#back-top a:focus:before {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 1;
  top: 2px;
  left: 2px;
}
.fourohfour-recent-posts ul {
  margin: 0;
  list-style: none;
}
.fourohfour-recent-posts ul li {
  line-height: 1.2;
  margin-bottom: 1rem;
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
@media #{$break600} {
  .bs-isotope-item {
  	width: 100% !important;
  	height: auto !important;
	}
  .bs-btns-wrapper .bs-btn {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
  }
}


/**** 2. HEADER STYLES ****/
header#masthead {
  position: relative;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 0 !important;
  background-color: rgba(18,18,18,0);
  transition: all 500ms ease-out;

  .logo-wrapper {
    padding-left: 0 !important;
    width: 250px;
    display: table-cell !important;
    vertical-align: top;
  }
  .logo-wrapper img {
    max-width: 250px;
    width: 100%;
    height: auto;
  }
  .main-navigation {
    width: calc(100% - 250px);
    display: table-cell !important;
    vertical-align: top;
  }

}
.browsers-safari header#masthead .logo-wrapper img {
  width: 250px;
}
header#masthead.sticky-header {
  position: fixed;
}
.title-bar-title {
  width: calc(100% - 40px);
  text-align: left;

  a.custom-logo-link img {
    width: auto;
    height: 80px !important;
  }
}
.browsers-safari .title-bar-title a.custom-logo-link img {
  width: auto;
  height: 80px !important;
}

@media #{$break972} {
  header#masthead {
    display: block;

    .logo-wrapper {
      width: 100%;
      display: block !important;
    }
    .logo-wrapper img {
      display: block;
      margin: 0 auto;
    }
    .main-navigation {
      width: 100%;
      display: block !important;
    }

  }

}
@media #{$break639} {
  header#masthead .logo-wrapper.hide-for-small-only {
    display: none !important;
  }
}

/* 2a. Top Bar and Main Nav Styles */
.top-bar {
// display: table;
// width: 100%;
max-width: 100rem;
margin: 0 auto;
background: none;
padding-top: 20px !important;

  ul {
    background: none;
  }

  .top-bar-right {

    .top-bar-social {
      margin-bottom: 15px;
    }
    .menu {
      text-align: left;
    }
    .menu > li {
      float: none;
      display: inline-block;
    }
    .menu > li > a {
      height: 36px;
      padding: 0 10px !important;
      font: 700 1.5rem/36px $ptsans;
      box-sizing: content-box !important;
      color: $dkgray;
    }
    .menu > li.menu-item-has-children > a {
      position: relative;
      padding-left: 10px !important;
      padding-right: 20px !important;
    }
    .menu > li.menu-item-has-children > a:before {
      content: '\f0d7';
      font-family: fontawesome;
      position: absolute;
      top: 0;
      right: -3px;
      text-align: left;
      display: block;
      width: 20px;
      height: 36px;
      line-height: 36px;
      color: $dkgray;
      font-size: 14px;
    }
    .menu > li:not(:last-child) {
      border-right: 0;
    }
    .menu a:hover:not(.button) {
      background: none;
    }
    > .menu > .active > a {
      color: $blue !important;
    }
    .menu .active > a {
      background: none;
      color: $white;
    }
    .menu > li {
      position: relative;
    }
    .menu > li:after {
      content: '';
      width: 0;
      height: 2px;
      background: $gray;
      display: block;
      position: absolute;
      left: 10px;
      bottom: 0;
      transition: width 250ms ease-out;
    }
    .menu > li:hover:after {
      width: calc(100% - 20px);
      transition: width 250ms ease-out;
    }
    .menu .dropdown {
      min-width: 160px;
      display: block;
      visibility: hidden;
      opacity: 0;
      margin-top: 20px;
      margin-right: -10px;
      z-index: -1;
      background: $blue !important;
      border-top: 2px solid $purple;
      @include transition(all);
    }
    .menu .dropdown li a {
      color: $white;
      height: auto;
      line-height: 1;
      padding: 10px 0 !important;
      font-size: 1.015rem;
      font-weight: 700;
      padding: 10px !important;
      display: block;
      position: relative;
      @include transition(all);
    }
    .menu .dropdown li {
      -webkit-transition: background 250ms ease-out;
    }
    .menu .dropdown li:hover a,
    .menu .dropdown li:focus a {
      color: $white !important;
      background: $purple;
    }
    .menu .dropdown li a:hover:after {
      content: '';
    }
    .menu .dropdown li:after {
      display: none;
    }
    .menu > li.is-active .dropdown {
      visibility: visible;
      opacity: 1;
      margin-top: -2px;
      z-index: 1;
    }
    .menu > li.opens-left > .is-dropdown-submenu {
      left: 10px;
      top: 100%;
    }
    .menu > li.is-dropdown-submenu-parent > a::after {
      display: none;
    }
  }
}
nav.top-bar.has-search {

  ul.desktop-menu {
    width: calc(100% - 36px);
    float: left;
    text-align: right;
  }
  .top-bar-right {
    float: right;
    width: 100%;
  }
  .menu-search-wrapper {
    width: 36px;
    height: 36px;
    float: right;
    position: relative;
  }
  .menu-search-wrapper button {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 1.25rem;
  }
  .menu-search-wrapper form#searchform {
    position: absolute;
    display: block;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    top: 100%;
    right: 0;
    width: 300px;
    padding: 14px;
    margin: 40px 0 0 0;
    border: 2px solid $blue;
    border-radius: 4px;
    background: $white;
    @include transition(all);
  }
  .menu-search-wrapper form#searchform.show {
    opacity: 1;
    visibility: visible;
    margin: 10px 0 0 0;
  }
  .menu-search-wrapper form#searchform:after,
  .menu-search-wrapper form#searchform:before {
    bottom: 100%;
    right: 7px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .menu-search-wrapper form#searchform:before {
    right: 4px;
  }
  .menu-search-wrapper form#searchform:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $white;
    border-width: 10px;
    margin-left: -10px;
  }
  .menu-search-wrapper form#searchform:before {
    border-color: rgba(54, 97, 175, 0);
    border-bottom-color: $blue;
    border-width: 13px;
    margin-left: -13px;
  }
  .menu-search-wrapper input#searchsubmit {
    width: 100%;
  }
  .menu-search-wrapper .input-group {
    margin: 0;
  }
  input#s {
    padding: 0 5px;
    line-height: 2.125rem;
    height: auto;
    box-shadow: none;
    border: 1px solid $blue;
  }
  input#s::-webkit-input-placeholder,
  input#s::-moz-placeholder,
  input#s:-moz-placeholder,
  input#s:-ms-input-placeholder {
    font-size: .875rem !important;
    font-family: $ptsans !important;
  }
  input#searchsubmit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 10px;
    line-height: 2.25rem;
    border: 0;
    background: $blue;
    font-family: $ptsans !important;
  }
}

@media #{$break972} {
  .top-bar .top-bar-right {
    width: 100% !important;

    ul#menu-main-navigation {
      text-align: center;
    }
    ul.social-media-wrapper {
      text-align: center;
      margin: 0;
    }

  }
}
@media only screen and (max-width: 43.125em) and (min-width: 40em) {
  .top-bar .top-bar-right .menu > li > a {
    font-size: 1.15em;
    padding: 0 8px !important;
  }
}
@media #{$break800} {
  // .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
  //   line-height: 97px;
  // }
}
@media #{$break639} {
  header#masthead, .top-bar {
    padding: 0 !important;
  }
  .off-canvas > ul.menu {
    height: auto;
  }
  .top-bar-social {
    display: none;
  }
  .menu-search-wrapper {
    display: none;
  }
  .top-bar .top-bar-right .menu > li > a {
    font: 700 1rem/36px $ptsans;
  }
  .top-bar .top-bar-right .menu > li.menu-item-has-children > a:before {
    font-size: 1rem;
    text-align: center;
  }
  .top-bar .top-bar-right .menu > li.menu-item-has-children ul li a {
    font-size: 1rem;
  }
}

/* 2b. Mobile Menu Styles */
.menu-icon::after {
  background: $teal;
  box-shadow: 0 7px 0 $teal, 0 14px 0 $teal;
  @include transition(background);
}
.menu-icon:hover::after {
  background: $dkteal;
  box-shadow: 0 7px 0 $dkteal, 0 14px 0 $dkteal;
}
nav.off-canvas {
  background: none !important;

  .custom-logo-link img {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }
  .vertical.menu {
    padding: 0;
  }
  > .menu > li > a {
    padding: 10px;
  }
  > .menu .active > a {
    background: $blue;
  }
  > .menu .active > a:after {
    border-top-color: $white !important;
  }
  .is-accordion-submenu-parent > a::after {
    right: 10px;
  }
  .nested.submenu {
    margin: 0 !important;
  }
  .submenu > li > a {
    padding: 10px 10px 10px 20px;
  }
  ul.social-media-wrapper {
    margin: 10px 0;
    padding: 0 0px;
    text-align: center;
  }
  ul.social-media-wrapper li {
    margin: 0;
  }
  form#searchform {
    margin: 20px 0 0 0;
    padding: 0 15px;
  }
  input#s {
    padding: 0 5px;
    line-height: 2.125rem;
    height: auto;
    box-shadow: none;
    border: 1px solid $blue;
  }
  input#searchsubmit {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 10px;
    line-height: 2.25rem;
    border: 0;
    background: $blue;
    font-family: $ptsans !important;
  }

}

/* 2b. Social Media Styles */
ul.social-media-wrapper {
  list-style: none;
  text-align: right;
  margin: 0 5px 0 0;
  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    position: relative;
    z-index: 99;
    font-size: 1.25rem;
  }
  li:not(.custom-button):after {
    width: 30px;
    height: 30px;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease-out;
  }
  li.custom-button {
    width: auto;
  }
  li.facebook:after {
    background: $teal;
  }
  li.twitter:after {
    background: $yellow;
  }
  li.flickr:after {
    background: $pink;
  }
  li.instagram:after {
    background: $purple;
  }
  li:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  li a {
    display: block;
  }
  li.facebook a {
    color: $teal;
  }
  li.twitter a {
    color: $yellow;
  }
  li.flickr a {
    color: $pink;
  }
  li.instagram a {
    color: $purple;
  }
  li:hover a {
    color: #FFF !important;
  }
  li.custom-button a {
    background: $yellow;
    color: #FFF;
    padding: 0 10px;
    @include transition(background);
  }
  li.custom-button a:hover,
  li.custom-button a:focus {
    background: $blue;
  }
}


/* 2c. Shrink Logo Styles */
body.shrink-logo {
  .top-bar .top-bar-left a.custom-logo-link img {
    width: 150px;
    height: auto;
    transition: width 500ms ease-out;
  }
}


/**** 3. HOME PAGE STYLES ****/
.admin-bar header#masthead.sticky-header {
  top: 32px;
}
.home {

  div#page-full-width {
    margin-top: 0;

    .main-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

  }
  .home-hero-wrapper {
    min-height: 700px;
    position: relative;
  }
  .home-hero-wrapper:after {
    content: '';
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0;
    background: url(http://127.0.0.1/chalkitup/wp-content/uploads/2016/09/zigzag-repeat-optim.png);
    background-size: 37px 15px;
  }
  .home-hero-wrapper > .vc_column_container {
    position: absolute;
    bottom: 180px;
  }
  .home-hero-wrapper > .vc_column_container h2,
  .home-hero-wrapper > .vc_column_container h3 {
    text-align: center;
    color: #FFF;
  }
  .home-hero-wrapper > .vc_column_container h2 {
    font-size: 4.5rem;
  }
  .home-hero-wrapper > .vc_column_container h3 {
    font-size: 3.75rem;
    font-weight: 400
  }

}
.portals-inner {
  display: table;
  max-width: 1170px;
  margin: 40px auto;

  .portal {
    position: relative;
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 20px;
  }
  .portal:before {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    border: 4px solid #FFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    @include transition(all);
  }
  .portal:hover:before,
  .portal:focus:before {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    opacity: 1;
    top: 4px;
    left: 4px;
  }
  .portal a {
    display: block;
    position: relative;
    z-index: 10;
  }
  .portal img {
    max-width: 100px;
    width: 100%;
    height: auto;
  }
  .portal h3 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 1.5625rem;
    margin: 8px 0 0 0;
  }
  // .portal-1 {
  //   border: 4px solid #49b1b6;
  // }
  // .portal-2 {
  //   border: 4px solid #20575f;
  // }
  // .portal-3 {
  //   border: 4px solid #5b3483;
  // }
  // .portal-4 {
  //   border: 4px solid #f7871f;
  // }
  // .portal-5 {
  //   border: 4px solid #cc2f7e;
  // }
  .portal-1 {
    background: #49b1b6;
  }
  .portal-2 {
    background: #20575f;
  }
  .portal-3 {
    background: #5b3483;
  }
  .portal-4 {
    background: #f7871f;
  }
  .portal-5 {
    background: #cc2f7e;
  }

}

.mission-wrapper {

  p {
    text-align: center;
    font-size: 1.1875rem !important;
  }

}

h3.img-bg-heading,
a.img-bg-heading {
  position: relative;
  font-size: 3.3125rem;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #555;
  width: 100%;
  display: block;
  padding: 60px 20px;
  text-align: center;
  color: #FFF !important;
  line-height: 1.2;
}
h3.img-bg-heading-about,
a.img-bg-heading-about {
  background: url(http://127.0.0.1/chalkitup/wp-content/uploads/2016/10/about-the-festival.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
a.img-bg-heading:before {
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  position: absolute;
  border: 4px solid #FFF;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  @include transition(all);
}
a.img-bg-heading:hover:before,
a.img-bg-heading:focus:before {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  opacity: 1;
  top: 4px;
  left: 4px;
}

div#instafeed {
  margin-left: -30px;
  margin-bottom: 20px;

  .slick-slide img {
    padding: 0 0 0 30px;
    width: 100% !important;
    height: auto !important;
  }
  a.instagram-image {
    position: relative;
  }
  a.instagram-image:before {
    content: '';
    top: -2px;
    left: 28px;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    border: 4px solid #FFF;
    width: calc(100% - 30px);
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    @include transition(all);
  }
  a.instagram-image:hover:before {
    width: calc(100% - 38px);
    height: calc(100% - 8px);
    opacity: 1;
    top: 4px;
    left: 34px;
  }
  a.instagram-image span {
    position: absolute;
    transform: translateY(0);
    left: 30px;
    padding: 10px;
    color: #FFF;
    text-align: center;
    width: calc(100% - 30px);
    background: rgba(247,135,31,.85);
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
  }
  a.instagram-image:hover span {
    transform: translateY(-100%);
  }
  ul.slick-dots {
    margin-left: 30px !important;
    width: calc(100% - 30px) !important;
    bottom: -20px !important;
  }
  ul.slick-dots li button {
    background: #FFF !important;
    border: 3px solid #f7871f !important;
  }
  ul.slick-dots li[aria-hidden="false"] button {
    background: #f7871f !important;
    border-color: #f7871f !important;
  }

}

body:not(.mobile) .home-hero-wrapper {
  background-position: bottom center !important;
}
body.mobile .home-hero-wrapper {
  background-size: 110% !important;
}
.darken-header header#masthead {
  background: rgba(0,0,0,.35);
}
.darken-header .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(0,0,0,.35) !important;
}
.darken-header .reverse-header .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu,
.reverse-header .top-bar .top-bar-right .menu > li.opens-left > .is-dropdown-submenu {
  background: rgba(255,255,255,.95) !important;
}

@media #{$break1024} {
  .title-bar {
    background: none !important;
  }
  .vc_parallax-inner {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 53.75em) {
  .portals-inner .portal {
    display: block;
    width: 100%;
  }
  .portals-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 48.875em) {
  .admin-bar header#masthead.sticky-header {
    top: 46px;
  }
}
@media #{$break640} {
  header#masthead {
    top: 0 !important;
  }
  nav#site-navigation {
    display: table !important;
  }
  .top-bar .top-bar-left {
    display: table-cell !important;
  }
  .admin-bar header#masthead.sticky-header {
    top: 46px !important;
  }
  .home .home-hero-wrapper > .vc_column_container h2 {
    font-size: 3.75rem;
  }
  .home .home-hero-wrapper > .vc_column_container h3 {
    font-size: 3rem;
    font-weight: 400
  }
  // .top-bar .top-bar-right {
  //   ul#menu-main-navigation {
  //     display: block !important;
  //   }
  //   nav#mobile-menu {
  //     display: none !important;
  //   }
  //   // .menu > li.menu-item-has-children > a:before {
  //   //   line-height: 77px !important;
  //   // }
  //   .menu > li.menu-item-has-children > a:after {
  //     display: none;
  //   }
  // }
}

  /* 3a. Home Section Styles */




/**** 4. INTERNAL PAGE STYLES ****/
div#page-full-width {
  margin-top: 0;
  max-width: none;

  .main-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#featured-hero {
  height: 18.75rem;

  h2.page-header-tagline {
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 5px 15px 8px;
    background: rgba(0,0,0,.5);
    color: #FFF;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 2rem !important;
  }

}
h1.entry-title {
  font-size: 2.25rem;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 38px;

  &:after {
    content: '';
    width: 107px;
    height: 19px;
    position: absolute;
    display: block;
    background: url(http://127.0.0.1/chalkitup/wp-content/uploads/2016/09/after-triangles-optim.png) no-repeat center center;
    background-size: 107px 19px;
  }

}
body:not(.home) .entry-content {

  a {
    color: $pink;
    text-shadow: 1px 2px 0 #FFF;
    position: relative;
    display: inline-block;
    z-index: 99;
  }
  a:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 5px;
    background: $pink;
    left: 0;
    z-index: -1;
  }
  p, span, li, a {
    font-size: 1.1875rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  h3 {
    font-size: 1.75rem !important;
  }
  h4 {
    font-size: 1.5rem !important;
  }
  h5, h6 {
    font-size: 1.25rem !important;
  }

}


/* 4a. 404 Page Styles and Archive Styles */
div#four-o-four-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;

  .entry-content {
    font-family: $ptsans;
  }

}
div#page.archives-wrapper {
  margin-top: 0;

  .entry-content, header {
    font-family: $ptsans;
  }

}

/* 4b. WP Gallery Styles */
.gallery-columns-2 {

  figure {
    margin: 0;
    padding: 0 20px 20px 0;
    width: 50%;
    float: left;
  }
  figure img {
    width: 100%;
    height: auto;
    border: 1px solid $ltgray;
  }

}

/* 4c. Sidebar Styles */
@media only screen and (min-width: 768px) {
  .sidebar {

    .portals-inner .portal {
      display: block;
      width: 100%;
      margin-bottom: 4px;
    }
    .portals-inner .portal a {
      display: table;
      flex-direction: row;
    }
    .portals-inner .portal a img {
      width: 80px;
      display: table-cell;
      vertical-align: middle;
    }
    .portals-inner .portal a h3 {
      display: table-cell;
      width: calc(100% - 80px);
      padding-left: 20px;
      vertical-align: middle;
    }

  }
}
@media #{$break767} {
  .sidebar {

    .portals-inner .portal {
      margin-bottom: 4px;
    }

  }
}

@media only screen and (max-width: 900px) and (min-width: 768px) {
  #page .main-content {
    width: calc(100% - 300px);
  }
  #page .sidebar {
    width: 300px;
  }
}
@media #{$break767} {
  #page .main-content {
    width: 100%;
    float: none;
  }
  #page .sidebar {
    width: 100%;
    float: none;
  }
}


/**** 5. PORTFOLIO PAGE STYLES ****/



/**** 6. FOOTER STYLES ****/
#footer-container {
  background: $black;
}
#footer-container #footer {
  max-width: 75rem;
  padding: 3.75rem 0 2rem;
  background-image: url(http://127.0.0.1/chalkitup/wp-content/uploads/2016/10/chalk-it-up-cloud-optim.png);
  background-size: 257px 149px;
  background-position: calc(100% - 29%) calc(100% - -30px);
  background-repeat: no-repeat;

  a {
    @include transition(color);
  }
  a:hover,
  a:focus {
    color: $teal;
  }
  .large-3:first-of-type {
    width: 42.7351%;
  }
  .large-3:nth-of-type(2),
  .large-3:nth-of-type(3) {
    width: 17.0940%;
  }
  .large-3:nth-of-type(4) {
    width: 23.0769%;
  }
  h6 {
    color: $white;
    font-size: 1.125rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .large-3:first-of-type h6 {
    position: relative;
  }
  .large-3:first-of-type h6:after {
    content: '';
    position: absolute;
    width: 107px;
    height: 19px;
    margin-left: 6px;
    display: inline-block;
    background: url(http://127.0.0.1/chalkitup/wp-content/uploads/2016/09/after-triangles-optim.png) no-repeat center center;
    background-size: 107px 19px;
  }
  ul.menu li {
    display: block;
    padding: 0;
  }
  ul.menu li a {
    padding: 0;
    color: $ltgray;
    display: block;
    line-height: 1.6;
    text-transform: uppercase;
    @include transition(color);
  }
  ul.menu li a:hover,
  ul.menu li a:focus {
    color: $teal;
  }
  ul.menu li.active a {
    background: none;
    color: $yellow;
  }
  p, li, a, span {
    color: $ltgray;
    line-height: 1.6;
  }
  ul.social-media-wrapper li.facebook a {
    color: $teal !important;
  }
  ul.social-media-wrapper li.twitter a {
    color: $yellow !important;
  }
  ul.social-media-wrapper li.flickr a {
    color: $pink !important;
  }
  ul.social-media-wrapper li.instagram a {
    color: $white !important;
  }
  ul.social-media-wrapper li.facebook a:hover,
  ul.social-media-wrapper li.facebook a:focus,
  ul.social-media-wrapper li.twitter a:hover,
  ul.social-media-wrapper li.twitter a:focus,
  ul.social-media-wrapper li.flickr a:hover,
  ul.social-media-wrapper li.flickr a:focus,
  ul.social-media-wrapper li.instagram a:hover,
  ul.social-media-wrapper li.instagram a:focus {
    color: $white !important;
  }
}
// @media only screen and (max-width: 101.875rem) {
//   #footer-container #footer {
//     padding-left: .9375rem;
//     padding-right: .9375rem;
//   }
// }
@media #{$break1024} {
  #footer-container #footer {
    margin-bottom: -1px;
    background-position: calc(100% - 62%) calc(100% - -60px);

    .large-3:first-of-type {
      width: 100%;
      margin-bottom: 40px;
    }
    .large-3:nth-of-type(2),
    .large-3:nth-of-type(3),
    .large-3:nth-of-type(4) {
      width: 33.3333%;
    }

  }
}
@media #{$break639} {
  #footer-container #footer {
    background-position: calc(100% - -6%) calc(100% - -22px);

    .large-3:nth-of-type(2),
    .large-3:nth-of-type(3) {
      width: 50%;
      margin-bottom: 40px;
    }
    .large-3:nth-of-type(3) {
      clear: right;
    }
    .large-3:nth-of-type(4) {
      width: 50%;
      float: left !important;
      clear: both;
    }

  }
}
@media #{$break480} {
  #footer-container #footer {
    padding-bottom: 120px;
    background-position: center calc(100% - -22px);

    .large-3:nth-of-type(2),
    .large-3:nth-of-type(3) {
      width: 100%;
      margin-bottom: 40px;
    }
    .large-3:nth-of-type(4) {
      width: 100%;
    }

  }
}

#copyright {
  max-width: 1600px;

  p {
    font-weight: 300 !important;
    text-align: center;
    font-family: $ptsans;
  }

}


/**** 7. MOBILE & KEYBOARD INPUT STYLES ****/
.mobile {

  .what-we-do-wrapper {
    background-attachment: scroll !important;
  }
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  ul.filter-portfolio-category li span.term-num,
  ul.filter-portfolio-category li a.active+span.term-num,
  ul.filter-portfolio-category li:hover span.term-num,
  ul.filter-portfolio-category li a:before,
  ul.filter-portfolio-category li a:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

}

body[data-whatinput="keyboard"] {

  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }

}

 .no-js {
  .wpb_animate_when_almost_visible {
    opacity: 1 !important;
    animation: none !important;
  }
  button:focus {
    box-shadow: 0 0 4px 4px rgb(84, 115, 245) !important;
  }
 }


/**** 8. IE ONLY STYLES ****/
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {
    background-attachment: scroll !important;
  }
}

/* Edge only */
@supports (-ms-accelerator: true) {
  * {
    background-attachment: scroll !important;
  }
}


/**** 9. FIREFOX ONLY CSS ****/
@-moz-document url-prefix() {

}

/**** 00. No JavaScript Styles ****/
.no-js {

  img.lazyload {
    display: none;
  }
  .bs-isotope-item {
    float: left;
  }
  .bs-isotope-item:nth-child(3n+1) {
    clear: left;
  }
  p, a, li, span, h1, h2, h3, h4, h5, h6, blockquote {
    font-family: Arial, Helvetica, sans-serif !important;
  }

}
