/**** TABLE OF CONTENTS ****

1. GENERAL STYLES

2. HEADER STYLES

3. HOME PAGE STYLES

4. INTERNAL PAGE STYLES
  4a. Title Bar Styles
  4b. Gravity Forms Styles
  4c. Social Sharing Styles
  4d. Single Blog Post Styles
  4e. Archives Styles

5. FOOTER STYLES

6. MOBILE STYLES (when WP detects a mobile device a class of 'mobile' is added to the body tag and we use this to style accordingly)

7. IE ONLY STYLES

00. No JavaScript Styles

** END TABLE OF CONTENTS **/

/**** 1. GENERAL STYLES ****/
h3.section-heading {
  font-size: 1.5rem;
  margin-bottom: 0.625rem !important;
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.wp-caption > figcaption.wp-caption-text {
  font-size: 0.875rem;
  color: $black;
  font-style: italic;
}
form#searchform {
  background: $ltgray;
  width: 100%;
  max-width: 310px;

  .input-group {

    input#s {
      max-width: 100%;
      background: none;
      border: 0;
      box-shadow: none;
    }
  }
  .input-group-button {
    width: auto;
    padding-left: 4px;
    padding-right: 4px;

    button#searchsubmit {

      i, i:before {
        color: $red !important;
      }
    }
  }
}
html .bs-btn {
  font-weight: 700 !important;
}
figure.wp-caption {
  max-width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

/**** 2. HEADER STYLES ****/
header#masthead.header-option-two {
  padding: 0 !important;
  margin-bottom: 0.625rem;

  #header-inner {

    .top-bar {
      @media only screen and (max-width: 1023px) {
        display: none !important;
      }

      .top-bar-left-right-wrapper {
        align-items: flex-end;

        .top-bar-left {

          a.custom-logo-link {
            max-width: 350px;

            img.custom-logo {
              max-width: 350px;
              padding: 0;
            }
          }
        }
        .top-bar-right {

          .top-bar-social {

            ul.social-media-wrapper {

              li a {
                font-size: 1.5rem;
              }
              li.inline-social-search-wrapper {
                width: 38px;
                height: 38px;

                button.search-toggle {
                  width: 38px;
                  height: 38px;
                  line-height: 38px;
                  font-size: 1.25rem;
                  color: $red;
                }
              }
              li.custom-button, li.modal-button {

                a {
                  font-family: $acumin;
                  font-size: 1.25rem;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
              .menu-search-wrapper {
                position: absolute;
                width: 260px;
                right: 0;
                padding: 10px;
                background: $gray;
                margin-top: 30px;
                display: block;
                visibility: hidden;
                opacity: 0;
                z-index: -1;
                @include transition(all);
                &.show {
                  visibility: visible;
                  opacity: 1;
                  margin-top: 10px;
                }
                &:before {
                  content: '';
                  width: 1px;
                  height: 1px;
                  display: block;
                  position: absolute;
                  border: 10px solid transparent;
                  border-bottom-color: $gray;
                  top: -20px;
                  right: 9px;
                }
                #searchform {
                  border: 0;
                  border-radius: 0;
                  max-width: 300px;

                  .input-group {
                    margin-bottom: 0;
                  }
                  .input-group-button {
                    background: $red;
                    width: 60px;

                    button#searchsubmit,
                    input#searchsubmit {
                      color: $white;
                      width: 100%;
                      padding: 0 !important;
                      font-size: 1.25rem;
                      font-family: $fontstack;
                      font-weight: 700 !important;
                      line-height: 38px;
                      text-transform: uppercase;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .top-bar-bottom {

        .desktop-menu.menu {

          & > li > a {
            font-family: $acumin;
            height: auto;
            padding: 1.5rem 0 0.625rem;
            font-size: 1.5rem;
            text-transform: uppercase;
          }
          & > li:after {
            height: 9px;
          }
          & > li > ul.menu.submenu.is-dropdown-submenu {
            border: 1px solid $red;
          }
        }
      }
    }
  }
}
.custom-modal {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  @include transition(all);

  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 99;
  }

  .custom-modal-overlay {
    position: absolute;
    background: rgba(0,0,0,.75);
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .custom-modal-inner {
    width: calc(100% - 30px);
    max-width: 450px;
    max-height: 90%;
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2.25rem 1rem 1rem;
    background: $white;

    a.close {
      position: absolute;
      width: 100%;
      right: 0;
      top: 0;
      padding: 4px 6px;
      background: $red;
      color: $white;
      font-family: $acumin;
      font-size: 0.875rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      @include transition(all);

      &:hover, &:focus {
        background: $black;
      }
    }
    .main-contact-wrapper .gform_wrapper {

      div.validation_error {
        width: calc(100% - 1rem);
      }
      .gform_footer {
        margin: 0;
      }
    }
  }
}
body.sticky-header.sticky-prep #masthead.sticky-header .top-bar-bottom {
  z-index: 99;
  border-bottom: 2px solid $red;
  left: 0;
}
.title-bar {

  .title-bar-title {
    width: calc(100% - 40px);
    text-align: left;

    a.custom-logo-link img {
      width: 230px;
      height: auto !important;
    }
  }
}
@media #{$break639} {
  header#masthead .logo-wrapper.hide-for-small-only {
    display: none !important;
  }
}

nav.off-canvas {
  background: $white !important;

  .custom-logo-link {

    img {
      width: 100%;
      height: auto;
      padding: 0.625rem;
    }
  }
  & .menu li a {
    font-family: $acumin;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  ul.social-media-wrapper {

    li {

      a {
        font-size: 1.5rem;
      }
    }
    li.custom-button,
    li.modal-button {
      width: 100%;

      a {
        background: $red;
        width: 90%;
        margin-left: 5%;
        color: $white;
        font-family: $acumin;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        @include transition(all);

        &:hover, &:focus {
          background: $black;
          color: $white;
        }
      }
    }
    li.inline-social-search-wrapper {
      width: 90%;

      button.search-toggle {
        display: none;
      }
      form#searchform .input-group-button {
        background: $red;
        color: $white;
      }
      #searchsubmit {
        // font-family: $acumin;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}


/**** 3. HOME PAGE STYLES ****/
.home {

  div#page-full-width {
    margin-top: 0;
    max-width: none;

    .main-content {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

/* Blog Post Carousel Styles */
.bs-blog-loop-carousel {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  @media #{$break640} {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .bs-single-post {
    display: flex !important;
    margin-left: -1.875rem;
    position: relative;
    @media #{$break1024} {
      flex-direction: column;
      margin-left: 0;
    }

    .blog-featured-image {
      width: 66.6666%;
      padding-left: 1.875rem;
      @media #{$break1024} {
        width: 100%;
        padding-left: 0;
        position: relative;
        z-index: 1;
      }

      figure {
        margin: 0;
        width: 100%;
        height: 0;
        padding-bottom: 62.5%;
        overflow: hidden;

        a {
          display: inline-block;
          width: 100%;
          height: 0;
          padding-bottom: 62.5%;
        }
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    .entry-content {
      width: 33.333%;
      padding-top: 1%;
      padding-right: 1%;
      padding-left: 1.875rem;
      padding-bottom: 1%;
      border: 1px solid $gray;
      border-left: 0;
      @media #{$break1024} {
        width: 100%;
        padding-top: 0.9375rem;
        padding-right: 0.625rem;
        padding-bottom: 0.9375rem;
        padding-left: 0.625rem;
        border: 0;
        background: $ltgray;
        // background: rgba(255,255,255,.75);
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // z-index: 100;
      }

      .bs-post-title {

        h3, h3 a {
          font-size: 2rem !important;
          font-family: $acumin;
          color: $black;
          &:hover, &:focus {
            color: $red;
          }
          @media #{$break1024} {
            font-size: 1.5rem !important;
          }
        }
        h3 {
          margin-bottom: 1.25rem;
          @media #{$break1024} {
            // margin-bottom: 0;
          }
        }
      }
      .blog-meta {
        margin-bottom: 0.9375rem;
        @media #{$break1024} {
          // display: none !important;
        }
      }
      .bs-post-excerpt {
        @media #{$break1024} {
          // display: none;
        }
      }
      .blog-footer {
        @media #{$break1024} {
          display: none;
        }
      }
    }
  }
}

/* Blog Post Grid Styles */
.bs-blog-loop-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-left: -1.875rem;
  @media #{$break767} {
    display: block;
    margin-left: 0;
  }
  @media #{$break640} {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .bs-single-post {
    width: 33.3333%;
    padding-left: 1.875rem;
    @media #{$break767} {
      width: 100%;
      display: flex;
      margin-top: 2rem;
      padding-top: 2rem;
      padding-left: 0;
      border-top: 1px solid $gray;
      &:first-of-type {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
    }
    @media #{$break600} {
      flex-direction: column;
    }

    .blog-featured-image {
      width: 100%;
      margin-bottom: 0.9357rem;
      @media #{$break767} {
        width: 33.3333%;
        margin-bottom: 0;
        order: 2;
      }
      @media #{$break600} {
        width: 100%;
        margin-bottom: 1.25rem;
        order: 1;
      }

      figure {
        margin: 0;
        width: 100%;
        height: 0;
        padding-bottom: 62.5%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .entry-content {
      width: 100%;
      @media #{$break767} {
        width: 66.6666%;
        padding-right: 1.875rem;
        order: 1;
      }
      @media #{$break600} {
        width: 100%;
        order: 2;
      }

      .bs-post-title {

        h3, h3 a {
          font-size: 1.5rem !important;
          font-family: $acumin;
          color: $black;
          &:hover, &:focus {
            color: $red;
          }
        }
        h3 {
          margin-bottom: 1.25rem;
        }
      }
    }
  }
}

/* Blog Post List Styles */
.bs-blog-loop-list {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  @media #{$break640} {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .bs-single-post {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $gray;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      padding-bottom: 2rem;
      border-bottom: 1px solid $gray;
    }
    @media #{$break600} {
      flex-direction: column;
    }

    .blog-featured-image {
      width: 33.3333%;
      margin-bottom: 0;
      order: 2;
      @media #{$break600} {
        width: 100%;
        margin-bottom: 1.25rem;
        order: 1;
      }

      figure {
        margin: 0;
        width: 100%;
        height: 0;
        padding-bottom: 62.5%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .entry-content {
      width: 66.6666%;
      padding-right: 1.875rem;
      order: 1;
      @media #{$break600} {
        width: 100%;
        order: 2;
        padding-right: 0;
      }

      .bs-post-title {

        h3, h3 a {
          font-size: 1.5rem !important;
          font-family: $acumin;
          color: $black;
          &:hover, &:focus {
            color: $red;
          }
        }
        h3 {
          margin-bottom: 1.25rem;
        }
      }
      .bs-post-excerpt {

      }
      .blog-footer {

      }
    }
  }
}
.blog-meta {
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
  }
}
.blog-footer {

  a {
    font-weight: 700;
  }
}
.bs-blog-loop-lite {

  .vc_col-sm-3 {
    @media #{$break767} {
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .vc_column-inner {
      @media #{$break640} {
        padding: 0 0.625rem !important;
      }
    }
  }
  .bs-blog-loop-list {
    padding: 0;

    .bs-single-post {
      padding: 0 0 1.25rem 0;
      margin: 0 0 1.25rem 0;
      border-top: 0;
      border-bottom: 1px solid $darkgray;
      &:last-of-type {
        padding: 0;
        margin: 0;
        border: 0;
      }

      .entry-content {
        width: 100%;
        padding-right: 0;

        .bs-post-title {

          h3, h3 a {
            font-size: 1.125rem !important;
            font-weight: 400 !important;
            @media #{$break767} {
              margin-bottom: 0;
            }
          }
        }
        .blog-footer {

          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}
h2.blog-cat-heading, h2.blog-cat-heading a {
  font-size: 2.125rem !important;
  font-family: $acumin !important;
  position: relative;
  color: $black;
  display: inline-block;
  width: 100%;
}
h2.blog-cat-heading {
  margin-bottom: 0.625rem;
  cursor: pointer !important;
  @include transition(all);

  a {
    position: relative;
    // padding-right: 1.875rem;
    color: $red !important;
    @include transition(all);

    &:hover, &:focus {
      color: $black !important;
    }
  }
  // a:after {
  //   content: '\f054';
  //   font-family: 'fontawesome';
  //   font-size: 0.875rem;
  //   width: 1.5rem;
  //   height: 1.5rem;
  //   border-left: .2rem solid $red;
  //   line-height: 1.5rem;
  //   display: block;
  //   position: absolute;
  //   right: 0;
  //   top: 0.625rem;
  //   background: $red;
  //   color: $white;
  //   text-align: center;
  //   @include transition(all);
  // }
  a:hover:after, a:focus:after {
    background: $white;
    color: #80807e;
    border-left: .2rem solid $white;
  }
  &.blog-cat-heading-2 {

    a:after {
      background: $red;
    }
    a:hover:after, a:focus:after {
      background: #80807e;
      color: $white;
      border-left: .2rem solid #80807e;
    }
  }
}

/* Twitter Feed Styles */
.atf-object.atf-skin-simplistic .atf-tweet-wrapper {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.atf-static-tweets .atf-inner-wrapper .atf-tweet-wrapper .atf-tweet-time {
  float: none !important;
  font-size: 0.75rem !important;
  margin: 0 !important;
  display: block !important;
}
.atf-object.atf-skin-simplistic .atf-tweet-wrapper * {
  font-size: 1rem !important;
  font-family: $fontstack;
}
html .atf-static-tweets .atf-inner-wrapper .atf-tweet-wrapper .atf-user-card {
  margin: 0 !important;

  .atf-screen-name {
    margin: 0 !important;
  }
}

/* Leaderboard Ad Styles */
div#leaderboard-ad {
  margin-bottom: 0;
  padding: 0 0.9375rem;
  @media #{$break640} {
    padding: 0 0.625rem;
  }
}

/* Home Page Sponsor Logo Styles */
body.home .sponsor-logo-wrapper-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .single-sponsor-logo-item {
    width: 20%;
    min-width: 200px;
    @media #{$break850} {
      width: 33.3333%;
    }
    @media #{$break590} {
      width: 50%;
      min-width: 0;
    }

    img {
      max-width: 200px;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }
}

/* Contact Us Form Styles */
body .gform_wrapper .top_label div.ginput_container {
  margin-top: 0 !important;
}
.main-contact-wrapper {

  p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
  }
  .gsection_description p {
    text-align: left;
  }
  .gform_wrapper {
    max-width: 60.625rem;
    margin: 0 auto;
    @media only screen and (min-width: 641px) {
      width: calc(100% + 16px);
    }
  }
  .gform_wrapper .gform_body {
    @media only screen and (max-width: 641px) {
      width: 100% !important;
    }
  }
  .gform_wrapper li.gfield {
    position: relative;
    margin: 0 0 1.5625rem !important;
  }
  .gform_wrapper li.gfield.floatLabel .ginput_container.ginput_container_multiselect select,
  .gform_wrapper li.gfield.floatLabel .ginput_container.ginput_container_select select {
    padding: 28px 0 0 0;
    max-height: 140px;
  }
  .gform_wrapper label.gfield_label {
    line-height: 1.2 !important;
    position: absolute;
    margin: 0 !important;
    left: .5rem;
    top: .25rem;
    text-transform: capitalize;
    font-family: $fontstack;
    font-weight: 700;
    @include transition(all);
  }
  .gform_wrapper label[data-attr="active"].gfield_label,
  .gform_wrapper label[data-attr="active"].gfield_label span.gfield_required {
    top: .15rem;
    font-size: 75% !important;
    opacity: .65;
  }
  .gform_wrapper.gform_validation_error label.gfield_label,
  .gform_wrapper.gform_validation_error label.gfield_label {
    position: relative;
    left: 0;
  }
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    padding-top: 0;
  }
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper textarea,
  .gform_wrapper li.gfield .ginput_container.ginput_container_multiselect select {
    padding: .65rem .5rem .5rem !important;
    border: 1px solid $red;
    border-radius: 0;
    box-shadow: none;
    background: $white;
    min-height: 3.5rem !important;
    margin: 0 !important;
  }
  .gform_wrapper textarea {
    padding: .875rem .5rem .5rem !important;
  }
  .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
  .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 0 0 -14px 1px;
    line-height: 1;
  }
  .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container {

    span.ginput_left {
      @media only screen and (max-width: 641px) and (min-width: 641px) {
        display: inline-block;
      }
      label {
        @media #{$break640} {
          margin: 0 0 -3px 1px;
        }
      }
    }
    span.ginput_right {
      @media only screen and (max-width: 641px) and (min-width: 641px) {
        display: inline-block;
      }
    }
  }
  .gform_wrapper .gform_footer {
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: left;
  }
  .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    background: $red;
    font-weight: 700;
    font-family: $acumin;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 1.25rem .1875rem !important;
    line-height: 49px !important;
    max-height: 52px !important;
    border: 0;
    @include transition(all);
  }
  .gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type=submit]:hover, .gform_wrapper .gform_page_footer input.button:hover, .gform_wrapper .gform_page_footer input[type=submit]:hover,
  .gform_wrapper .gform_footer input.button:focus, .gform_wrapper .gform_footer input[type=submit]:focus, .gform_wrapper .gform_page_footer input.button:focus, .gform_wrapper .gform_page_footer input[type=submit]:focus {
    background: $black;
  }

}
@media only screen and (min-width: 641px) {
  .main-contact-wrapper .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, .main-contact-wrapper .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half,
  .main-volunteer-wrapper .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, .main-volunteer-wrapper .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half  {
    max-width: 100%;
    padding-right: 16px;
  }
}

div#instafeed {
  margin-left: -30px;
  margin-bottom: 20px;

  .slick-slide img {
    padding: 0 0 0 30px;
    width: 100% !important;
    height: auto !important;
  }
  a.instagram-image {
    position: relative;
  }
  a.instagram-image:before {
    content: '';
    top: -2px;
    left: 28px;
    z-index: 1;
    pointer-events: none;
    position: absolute;
    border: 4px solid #FFF;
    width: calc(100% - 30px);
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    @include transition(all);
  }
  a.instagram-image:hover:before {
    width: calc(100% - 38px);
    height: calc(100% - 8px);
    opacity: 1;
    top: 4px;
    left: 34px;
  }
  a.instagram-image span {
    position: absolute;
    transform: translateY(0);
    left: 30px;
    padding: 10px;
    color: $white;
    text-align: center;
    width: calc(100% - 30px);
    background: $red;
    @include transition(transform);
  }
  a.instagram-image:hover span {
    transform: translateY(-100%);
  }
  ul.slick-dots {
    margin-left: 30px !important;
    width: calc(100% - 30px) !important;
    bottom: -20px !important;
  }
  ul.slick-dots li button {
    background: #FFF !important;
    border: 3px solid $red !important;
  }
  ul.slick-dots li[aria-hidden="false"] button {
    background: $red !important;
    border-color: $red !important;
  }

}

@media #{$break1024} {
  .title-bar {
    background: none !important;
  }
  .vc_parallax-inner {
    top: 0 !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 48.875em) {
  .admin-bar header#masthead.sticky-header {
    top: 46px;
  }
}
@media #{$break640} {
  header#masthead {
    top: 0 !important;
  }
  nav#site-navigation {
    display: table !important;
  }
  .top-bar .top-bar-left {
    display: table-cell !important;
  }
  .home .home-hero-wrapper > .vc_column_container h2 {
    font-size: 3.75rem;
  }
  .home .home-hero-wrapper > .vc_column_container h3 {
    font-size: 3rem;
    font-weight: 400
  }
}


/**** 4. INTERNAL PAGE STYLES ****/
.not-home {
  h2, h3, h4, h5, h6 {
    text-align: left;
  }
  div#page {
    margin-top: 2.25rem;

    .main-content ul li,
    .main-content ol li {
      margin-bottom: 0.625rem;
    }
  }
  div#page-full-width {
    margin-top: 2.25rem;
    max-width: none;

    .main-content {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      max-width: 60.625rem;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
    .main-content ul li,
    .main-content ol li {
      margin-bottom: 0.625rem;
    }
  }
  .nav-single-inner {
    padding-top: 1rem;
    margin: 0 0 1rem;
    border-top: 1px solid $red;
    display: flex;
    justify-content: flex-start;
  }
  .nav-single-inner span.nav-previous {
    min-height: 1px;
    width: 50%;
    text-align: left;
    padding-right: 1rem;
  }
  .nav-single-inner span.nav-next {
    min-height: 1px;
    width: 50%;
    text-align: right;
    padding-left: 1rem;
  }
}
#featured-hero {
  height: 18.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0 !important;
  @media only screen and (max-width: 639px) {
    height: 12.5rem;
  }

  h1.entry-title {
    font-size: $maintitle;
    padding: 0 0.9375rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto !important;
    color: #FFF;
    text-shadow: 2px 1px 2px #000;
    border-bottom: 0;
    @media only screen and (max-width: 639px) {
      font-size: $maintitle639;
    }

    span {
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }
  }
}
h1.entry-title {
  font-size: 1.875rem;
  position: relative;
  margin-bottom: 1.5rem !important;
  padding-bottom: 0;
  border-bottom: 0;

  span {
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
}
.breadcrumbs {
  padding: 0 0.9375rem;
  margin: 2rem 0 -1.5625rem;
  @media #{$break640} {
    padding: 0 0.625rem;
  }

  a, .breadcrumb-separator {
    color: $red !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    @include transition(color);
  }
  a:hover, a:focus {
    color: $black !important;
  }
  span {
    font-size: 1rem !important;
    font-family: $fontstack !important;
    color: $black;
    font-weight: 400;
  }
}
body:not(.home) .entry-content {

  a {
    color: $red;
    @include transition(color);
  }
  a:hover,
  a:focus {
    color: $red;
  }
  p, span, li, a {
    font-size: $bodycopy;
  }
}


/* 4a. 404 Page Styles and Archive Styles */
div#four-o-four-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;

  .entry-content {
    font-family: $fontstack;
  }
}
div#page.archives-wrapper {
  //margin-top: 0;

  .entry-content, header {
    font-family: $fontstack;
  }
}

/* 4b. WP Gallery Styles */
.gallery-columns-2 {

  figure {
    margin: 0;
    padding: 0 20px 20px 0;
    width: 50%;
    float: left;
  }
  figure img {
    width: 100%;
    height: auto;
    border: 1px solid $ltgray;
  }
}

/* 4c. Sidebar Styles */
.sidebar {
  margin-top: 0;
  margin-bottom: 1.875rem;

  .widget.related_posts_by_taxonomy,
  .widget.widget_recent_entries {

    h6 {
      font-size: 2.125rem !important;
      color: $black;
      margin-bottom: 1.4375rem;
    }
    ul {
      list-style: none;
      margin: 0;

      li {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $black;
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0;
        }

        a {
          font-size: 1.125rem;
          font-family: $acumin !important;
          font-weight: 700 !important;
          line-height: 1.2 !important;
          color: $black;
          &:hover, &:focus {
            color: $red;
          }
        }
      }
    }
  }
  @media #{$break767} {

  }
}


// #page .main-content {
//   width: calc(100% - 300px);
//   @media #{$break767} {
//     width: 100%;
//     float: none;
//   }
// }
// #page .sidebar {
//   width: 300px;
//   @media #{$break767} {
//     width: 100%;
//     float: none;
//   }
// }

/* 4d. Single Blog Post Styles */
// @media only screen and (max-width: 47.9375em) {
//   #single-post {
//     article.main-content {
//       width: 100%;
//       float: none;
//     }
//     .sidebar {
//       width: 100%;
//       float: none;
//     }
//   }
// }
body.single .entry-content {
  margin-bottom: 1.5rem;

  figure {
    margin: 0 0 1rem 0;
  }
}
.single-featured-image {
  width: 100%;
  float: none;
  margin: 0 0 1rem 0;
}
#single-post {

  .post-meta {

    p, a, span {
      font-weight: 700;
    }
  }
  &.no-sidebar {

    .main-content {
      float: none;
      width: 100%;
      max-width: 52.5rem;
      margin: 0 auto;
    }
  }
}

/* Related Stories Styles */
body:not(.home) .bs-related-posts {
  background: $ltgray;
  padding: 1.875rem 0;
  @media #{$break640} {
    display: none;
    speak: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  .bs-related-posts-inner {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.9375rem;

    .bs-related-posts-carousel {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1.875rem;
      @media #{$break480} {
        flex-direction: column;
      }

      h2 {
        margin-bottom: 1rem;
      }
      article {
        width: 25%;
        padding-left: 1.875rem;
        @media #{$break640} {
          width: 50%;
        }
        @media #{$break480} {
          width: 100%;
        }

        section.entry-content h4.bs-post-title, section.entry-content h4.bs-post-title a {
          font-size: 1.25rem !important;
          font-family: $acumin !important;
          color: $black !important;
        }
        section.entry-content h4.bs-post-title {
          margin-bottom: 0.625rem;
          @media #{$break640} {
            margin-bottom: 0.3125rem;
          }
        }
        a.read-more {
          font-weight: 700 !important;
          color: $darkgray;
        }
      }
    }
  }
}
body:not(.home) #single-post.no-sidebar ~ .bs-related-posts {
  @media #{$break640} {
    display: block;
    speak: normal;
    visibility: visible;
    position: relative;
    left: auto;
    opacity: 1;
  }
}

/* Comments Styles */
section#comments {
  order: 7;

  h3 {
    // font-size: 1.125rem !important;
    // font-weight: 500;
    // text-transform: uppercase;
    // margin-bottom: 0.635rem;
  }
  header.comment-author {
    position: relative;
    min-height: 48px;
    padding-left: 53px;
  }
  header.comment-author img {
    position: absolute;
    left: 0;
  }
  section.comment p:last-of-type,
  section.comment p:only-of-type {
    margin-bottom: 0 !important;
  }
  cite.fn {
    font-size: 1rem !important;
    font-weight: 700;
    line-height: 1;
    color: $gray;
  }
  cite.fn:before {
    content: '';
  }
  .author-meta.author time a {
    font-weight: 300;
    color: $gray;
  }
  ol.comment-list {
    margin: 0;
    list-style: none;
  }
  ol.comment-list > li {
    margin-bottom: 2rem;
    padding: 4px;
  }
  ol.comment-list > li ul {
    list-style: none;
    margin: 0;
  }
  ol.comment-list > li li {
    border-left: 2px solid #eaeaea;
    padding-top: 10px;
    padding-left: 20px;
  }
}
section#respond {
  order: 6;
  margin-bottom: 2rem;

  p#allowed_tags {
    font-size: 0.9375rem !important;
  }
  p#allowed_tags + code {
    font-size: 0.9375rem !important;
  }
  h3 {
    // font-size: 1.125rem !important;
    // font-weight: 500;
    // text-transform: uppercase;
    // margin-bottom: 0.635rem;
  }
}

/* 4e. Archives Styles */
body.archive, body.search {

  .bs-blog-loop-list {
    padding-left: 0;
    padding-right: 0;

    .bs-single-post:first-of-type {
      border-top: 0 !important;
    }
  }
  nav.prev-next-posts {
    padding: 1rem 0;
    border-top: 1px solid $red;
    margin-top: -1px;
  }
}


/**** 5. FOOTER STYLES ****/

/* Pre Footer Styles */
.pre-footer-inner {
  padding: 2.1875rem 0.9375rem;
  background: $white;
}

/* Footer Actual Styles */
#footer-container #footer {
  padding: 2.1875rem 0 0;

  h6 {
    font-size: 1.25rem !important;
    margin-bottom: 0.625rem !important;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500 !important;
  }
  p, li, a, span {
    line-height: 1.6;
    font-size: 1.125rem !important;
    font-weight: 300 !important;
    color: $gray;
  }
  ul#menu-footer-navigation {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    @media #{$break640} {
      flex-direction: column;
    }

    li {
      padding: 0 0.9375rem;
      position: relative;

      &:after {
        content: '•';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) translateX(50%);
        width: 10px;
        height: 10px;
        display: block;
        line-height: 10px;
        @media #{$break640} {
          content: '';
          display: none;
        }
      }
      &:last-child {
        padding: 0 0 0 0.9375rem;

        &:after {
          content: '';
        }
      }
    }
  }
  ul.social-media-wrapper {
    margin-bottom: 1.25rem;
  }
  ul.social-media-wrapper li a {
    font-size: 2rem !important;
  }
  .footer-logo {
    margin-left: -5px;
    width: 100%;
    width: calc(100% + 5px);
    max-width: 225px;
    height: auto;
  }

}
